body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.header-main{
    font-size: 15px;
    margin-top:37px;
   
}
.header-main span{
    border: 3px solid rgba(0,0,0,0.4);
}
.lastUpdated{
    font-size:12px;
    margin-top:20px
}

.stage-2{
    position:fixed;
    left:64%;
    padding-top: 20px;
}


@media screen and (max-width:769px){
    .stage-2{
        position: relative;
        left:0;
    }
}



/**
* FADE IN UP ANIMATION
*/

.fadeUp{
    animation-name: fade-up;
    animation-duration: 300ms;
    animation-fill-mode: both;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100%  {
        opacity: 1;
        transform: translateY(0%);
    }
  }


  /*
  * Footer styles
  */
  .footer-credits:hover{
      cursor: pointer;
  }
  .footer-credits:hover .fa-heart{
    -webkit-animation: pulsateHeart 1s infinite;
    animation: pulsateHeart 1s infinite;
  }
  @keyframes pulsateHeart {
    0%
    {
      transform: scale( .75 );
    }
    20%
    {
      transform: scale( 1 );
    }
    40%
    {
      transform: scale( .75 );
    }
    60%
    {
      transform: scale( 1 );
    }
    80%
    {
      transform: scale( .75 );
    }
    100%
    {
      transform: scale( .75 );
    }

  }
  .footer-credits a{
      color:inherit;
  }
  .footer-credits a:hover{
    text-decoration: none;
  }
  .call-for-devs-1:after{
    content: '\2728';
    font-size:20px;
  }

  .call-for-devs-2:after{
    content: '\1F604';
    font-size:20px;
  }